@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .wrapper {
    @apply lg:max-w-[1440px] w-full mx-auto;
  }
  .gorent-container {
    @apply lg:max-w-[1312px] px-6  w-full mx-auto;
  }
}

/* range slider for price*/
/* @media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    cursor: pointer;
    background: #fff;
    box-shadow: -405px 0 0 400px #90A3BF;
    border-radius: 50%;
  }
} */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: #3563e9;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: -405px 0 0 400px #3563e9;
  }
}

::-webkit-scrollbar {
  @apply w-1 h-1;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}

::-webkit-scrollbar-track {
  @apply !bg-transparent;
}

/* styling react date range */
.rdrDefinedRangesWrapper {
  @apply hidden;
}
